.OpenMenuButton {
    -moz-box-shadow: 0px 0px 0px 0px #ffffff;
    -webkit-box-shadow: 0px 0px 0px 0px #ffffff;
    box-shadow: 0px 0px 0px 0px #ffffff;
    background-color: #008eb9;
    cursor: pointer;
    color: #ffffff;
    padding: 8px 13px;
    text-decoration: none;
    width: max-content;
}

.OpenMenuButton:hover {
    background-color: #004c63;
}

.OpenMenuButton:active {
    position: relative;
    top: 1px;
}

.Menu h3 {
    margin: 0;
}

.section-scores {
    position: relative;
    display: flex;
    margin: 30px 0 40px;
    padding: 20px 20px 0;
    background-color: #f0ede2;
}

.scores-bar {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    margin: 0;
    padding: 0;
    background-color: #004c63;
}

.scores-bar div {
    border-top: 1px solid #fac5ad;
    border-left: 1px solid #fac5ad;
    height: 9px;
    background-color: #f0571e;
}

.section-score {
    min-width: 80px;
    margin: 0;
    padding: 0;
    line-height: 36px;
    font-size: 36px;
    font-weight: bold;
    color: #f0571e;
}

.table-scores {
    margin: 0 .5em 1em 2em;
}

.table-scores td {
    padding: 0 .5em .5em 0;
}

.table-scores .score {
    text-align: center;
    font-weight: bold;
}

.Menu hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}